.card-Carrito {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1.5rem;
    height: auto;
    margin-left: 10px;
    border-color: rgba(199, 199, 199, 0.603);
}
.contenedorContenido{
    display: block;
}

.contenedorLeft{
    display: flex;
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
    position: relative;
}

.menu, .logoCelular, .ocultarMenu {
    visibility: visible;
    display: block;
}

.listaProductos ul{
    display: none;
    visibility: hidden;
}

.menu img{
    position: absolute;
    top: 80px;
    right: 20px;
}

.contenedorCarrito {
    width: 95%;
    margin: 30px 0;
}

.logo{
    position: absolute;
    top: 0;
}

.ocultarMenu{
    position: absolute;
    color: white;
    right: 10px;
    top: 30px;
    border: none;
    width: 100px;
    height: 100px;
    background: transparent;
    font-size: 3rem;
}


.listaProductos{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    transition: 1.5s ease;
    background:  rgb(71, 192, 71);
    border-bottom: 5px solid black;
}

main {
    right: 0;
    margin: 0 auto;
    width: 95%;
}

.acciones-carrito{   
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px
}
.acciones-carrito .comprar-button {
    padding: 5px;
}